/* LoginPage.css */
.login-page-background {
      background: linear-gradient(to right, #323333,#8d8d79 );

    min-height: 85.9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
               background: url('../assets/road2.jpg') no-repeat center center/cover;  

}

.login-container {
    background-color: #333;
    /* background: linear-gradient(to right, #3f502c, #98af4c); */
         /* background: url('../assets/img5.png') no-repeat center center/cover;   */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(17, 63, 52, 0.949);
  max-width: 360px;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
}

.login-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 40px;
  color: #f9f5f5;
}

.login-form input {
  width: 95%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #e5e1e1;
    background-color: #edf0f3;
  color: black;
  border-radius: 6px;
  font-size: 0.95rem;
  transition: border-color 0.3s ease;
}

.login-form input:focus {
  border-color: #edf0f3;
  outline: none;
}

.login-form button {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: #484848;
  color: white;
  /* border: 2px solid rgb(21, 2, 2); */
  border-radius: 6px;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
    margin: 1rem auto 0 auto; /* Center the button horizontally */

}

.login-form button:hover {
  background-color: #1a1a1b;
}
