* body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* This vertically centers all flex items */
  padding: 1rem 2rem;
  background-color: #252525;
  color: white;
}



.navbar a {
    color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 15px;
}


.navbar button {
  background-color: #ff4d4d;
  border: none;
  padding: 8px 12px;
  color: white;
  cursor: pointer;
}
