.signup-page-background {
  /* min-height: 50vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/scooty1.jpg') no-repeat center center/cover;  
}

.signup-container {
  background: rgba(255, 255, 255, 0.784);
  margin-top: 30vh;
  margin-bottom: 32.4vh;
  width: 250px;
  margin-left: 80px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signup-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.google-signin-button {
  padding: 12px 20px;
  background-color: #323333;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-signin-button:hover {
  background-color: #4d4f52;
}
